<div id="<%= dom_id measurement %>">
  <p>
    <strong>Dip:</strong>
    <%= measurement.dip %>
  </p>

  <p>
    <strong>Strike:</strong>
    <%= measurement.strike %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= measurement.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= measurement.longitude %>
  </p>

</div>
